asgiref==3.7.2
autopep8==2.0.4
backports.zoneinfo==0.2.1
crispy-bootstrap4==2022.1
Django==4.2.6
django-crispy-forms==2.0
gunicorn==21.2.0
packaging==23.2
Pillow==10.0.1
pycodestyle==2.11.0
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.8.0
